body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../Images/customerdetials.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
}

header {
    background-image: url('../Images/fruits.jpg'); 
    background-size: cover;
    background-position: center;
    color: rgb(251, 247, 247);
    padding: 36px;
    border-radius: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.active {
    font-weight: bold;
    border-bottom: 2px solid #fcfbf9;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold; 
}

form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2rem;
    width: 30%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left; 
}

form label {
    display: block;
    margin: 1rem 0 0.5rem;
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; 
}

form button {
    padding: 0.75rem 1.5rem;
    background-color: #ffcc00; 
    color: black; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold; 
    font-size: 16px;
    display: block; 
    margin: 1rem auto; 
}

form button:hover {
    background-color: #e6b800; 
}

footer {
    text-align: center;
    margin-top: 20px;
}
