body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../Images/customerdetials.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-image: url('../Images/fruits.jpg'); 
    background-size: cover;
    background-position: center;
    color: rgb(251, 247, 247);
    padding: 36px;
    border-radius: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.active {
    font-weight: bold;
    border-bottom: 2px solid #ffd700;
}

main {
    padding: 2rem;
    text-align: center;
}

form {
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.payment-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.payment-option img {
    width: 70px;
    height: auto;
}

form div {
    margin-bottom: 1rem;
}

form label {
    margin-left: 0.5rem;
    flex-grow: 1;
    text-align: left;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 48%;
}

button:hover {
    background-color: #0056b3;
}

#backToConfirmButton {
    background-color: #ffd700;
    color: black;
}

#paymentSuccess {
    display: none;
    margin-top: 2rem;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    margin-top: 20px;
}
